<header id="header"> <!--HEADER-->
    <div id="logo">  <!--Logotipo da aplicação-->
		<img src="../assets/images/traxxer-logo.png">
	</div>
    <div id="create-account"> <!--Botão de criar conta-->
        <i id="person-fill" class="bi bi-person-fill"></i>
        <p class="header-text" style="width: 82px; left: 7px; top: 0px;">CRIAR CONTA</p>
    </div>
    <div id="on-air"> <!--Botão de realizar transmissão-->
        <i id="live" class="bi bi-broadcast"></i>
        <p class="header-text" style="width: 50px; left: 7px; top: 0px;">NO AR</p>
    </div>
    <div id="cpu-load"> <!--Barra de exibição da sobrecarga da CPU-->
        <div class="bar"></div>
        <p class="header-text" style="width: 82px; top: 4.5px; font-size: 11px;">CPU Load</p>
    </div>
    <div id="recording"> <!--Botão de gravação-->
        <i id="rec-circle" class="bi bi-circle-fill"></i>
        <p class="header-text" style="width: 40px; left: 13px; font-size: 13px; top: 0px;">REC</p>
    </div>
    <div id="time-box"> <!--Caixa de exibição da hora-->
        <p class="header-text" style="width: 82px; left: 1px; top: 0px; font-size: 85%;">18 : 57 : 35</p>
        <i id="caret-down" class="bi bi-caret-down-square"></i>
    </div>
    <div id="settings"> <!--Botão de definições-->
        <i id="gear" class="bi bi-gear-fill"></i>
        <p class="header-text" style="width: 66px; left: 7px; top: 0px;">DEFINIÇÕES</p>
    </div>
    <div id="profile-box"> <!--Caixa de perfil do utilizador-->
        <i id="person" class="bi bi-person-circle"></i>
    </div>
    <!-- <div id="backend-header-tests"> Botão para testar o backend
        <button id="test-backend-btn">Testar backend</button> 
        <p id="backend-response">Sem resposta ainda.</p>
    </div>-->
</header> <!--Fim do header-->