<section id="library"> <!--BIBLIOTECA + SIDE BAR-->
    <div id="music-library">
        <div id="search-bar-btn">
            <i id="search-bar-icon" class="bi bi-search"></i>
        </div>
        <div id="music-folders">
            <div id="folder-open-btn">
                <i class="bi bi-folder2-open"></i>
                <span>Abrir pasta</span>
            </div>
        </div>
    </div>
    <div id="base-library">
        <!--<div id="library-music-search-bar"></div>-->
    </div>
    <div id="library-scroll-bar">
        <div id="scroll-switch"></div>
    </div>
    <div id="side-bar">
        <div id="side-bar-main-line"></div>
        <div id="side-bar-app-classes">
            <i id="classes-logo" class="bi bi-mortarboard-fill"></i>
        </div>
        <div id="side-bar-app-info">
            <i id="info-logo" class="bi bi-info-lg"></i>
        </div>
    </div>
    <footer class="footer"></footer>
</section>