<div id="middle-deck">
    <div id="trk1-knobs">
        <div id="eq-high-trk1">
            <div class="knob-base"></div>
            <div class="knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="knob-indicator"></div>
            <div class="knob-label">HIGH</div>
        </div>
        <div id="eq-mid-trk1">
            <div class="knob-base"></div>
            <div class="knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="knob-indicator"></div>
            <div class="knob-label">MID</div>
        </div>
        <div id="eq-low-trk1">
            <div class="knob-base"></div>
            <div class="knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="knob-indicator"></div>
            <div class="knob-label">LOW</div>
        </div>
        <div id="eq-filter-trk1">
            <div class="knob-base"></div>
            <div class="knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="knob-indicator"></div>
            <div class="knob-label">FILT</div>
        </div>
    </div>
    <div id="middle-knobs">
        <div id="eq-gain-trk1">
            <div class="knob-base"></div>
            <div class="middle-knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="middle-knob-indicator"></div>
            <div class="middle-knob-label">GAIN</div>
        </div>
        <div id="trk1-volume">
            <div id="trk1-volume-black-bar"></div>
            <div id="trk1-volume-first-line"></div>
            <div id="trk1-volume-shift-btn">
                <div id="trk1-volume-dark-grey-line">
                    <div id="trk1-volume-light-grey-line"></div>
                </div>
            </div>
            <div id="trk1-volume-second-line"></div>
            <div id="trk1-volume-third-line"></div>
            <div id="trk1-volume-fourth-line"></div>
            <div id="trk1-volume-fifth-line"></div>
            <div id="trk1-volume-sixth-line"></div>
            <div id="trk1-volume-seventh-line"></div>
            <div id="trk1-volume-eighth-line"></div>
            <div id="trk1-volume-ninth-line"></div>
            <div id="trk1-volume-tenth-line"></div>
        </div>
        <div id="trk1-pfl-btn">
            <i id="trk1-pfl-btn-headphones" class="bi bi-headphones"></i>
        </div>
        <div id="eq-main">
            <div class="knob-base"></div>
            <div class="middle-knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="middle-knob-indicator"></div>
            <div class="middle-knob-label">MAIN</div>
        </div>
        <div id="headphones-sound-distribution">
            <div id="headphones-sound-distribution-switch"></div>
        </div>
        <div id="eq-gain-trk2">
            <div class="knob-base"></div>
            <div class="middle-knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="middle-knob-indicator"></div>
            <div class="middle-knob-label">GAIN</div>
        </div>
        <div id="trk2-volume">
            <div id="trk2-volume-black-bar"></div>
            <div id="trk2-volume-first-line"></div>
            <div id="trk2-volume-shift-btn">
                <div id="trk2-volume-dark-grey-line">
                    <div id="trk2-volume-light-grey-line"></div>
                </div>
            </div>
            <div id="trk2-volume-second-line"></div>
            <div id="trk2-volume-third-line"></div>
            <div id="trk2-volume-fourth-line"></div>
            <div id="trk2-volume-fifth-line"></div>
            <div id="trk2-volume-sixth-line"></div>
            <div id="trk2-volume-seventh-line"></div>
            <div id="trk2-volume-eighth-line"></div>
            <div id="trk2-volume-ninth-line"></div>
            <div id="trk2-volume-tenth-line"></div>
        </div>
        <div id="trk2-pfl-btn">
            <i id="trk2-pfl-btn-headphones" class="bi bi-headphones"></i>
        </div>
        <section id="main-intensity">
            <div id="trk1-intensity"></div>
            <div id="mixing-intensity"></div>
            <div id="trk2-intensity"></div>
        </section>
    </div>
    <div id="trk2-knobs">
        <div id="eq-high-trk2">
            <div class="knob-base"></div>
            <div class="knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="knob-indicator"></div>
            <div class="knob-label">HIGH</div>
        </div>
        <div id="eq-mid-trk2">
            <div class="knob-base"></div>
            <div class="knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="knob-indicator"></div>
            <div class="knob-label">MID</div>
        </div>
        <div id="eq-low-trk2">
            <div class="knob-base"></div>
            <div class="knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="knob-indicator"></div>
            <div class="knob-label">LOW</div>
        </div>
        <div id="eq-filter-trk2">
            <div class="knob-base"></div>
            <div class="knob-shadow"></div>
            <div class="knob-inner"></div>
            <div class="knob-indicator"></div>
            <div class="knob-label">FILT</div>
        </div>
    </div>
    <div id="crossfader">
        <div id="left-first-line-maincf"></div>
        <div id="left-second-line-maincf"></div>
        <div id="left-third-line-maincf"></div>
        <div id="left-fourth-line-maincf"></div>
        <div id="left-fifth-line-maincf"></div>
        <div id="crossfader-black-bar">
            <div id="crossfader-shift-btn">
                <div id="dark-grey-line-maincf">
                    <div id="light-grey-line-maincf"></div>
                </div>
            </div>
        </div>
        <div id="right-first-line-maincf"></div>
        <div id="right-second-line-maincf"></div>
        <div id="right-third-line-maincf"></div>
        <div id="right-fourth-line-maincf"></div>
        <div id="right-fifth-line-maincf"></div>
    </div>
</div>