#deck1-waveform {
    width: 100%; height: 76px; background-color : var(--waveform); position: fixed; top: 34px; left: 0; z-index: 1000;}

#deck2-waveform {
    width: 100%; height: 76px; background-color : var(--waveform); position: fixed; top: 110px; left: 0; border-bottom: 1px solid #727272; }

#zoom-in {
    width: 2%; height: 152px; background-color : var(--mechanical); position: fixed; top: 34px; right: 10px; z-index: 1000; /* border: 1px solid var(--cinzento);*/ }

#waveforms-line {
    position: fixed; top: 34px; left: 50%; transform: translateX(-50%); height: 152px; width: 0.75px; background-color: var(--branco); z-index: 2000; }
